<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
</head>
    <nav>
        <div class="navbar-left">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create_work">Add a Work</a></li>
            <li><a href="/delete_all_works">Delete All Works</a></li>
            <li><a href="/login">Login</a></li>
            <!-- Add more navigation links as needed -->
        </ul>
        </div>
    <div class="navbar-right">
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}</p>
        {% else %}
            <p>Guest</p>
        {% endif %}
    </div>
    </nav>
</html>
